<div>
    <form action="/games" method="POST">
        <input type="text" name="name" placeholder="name"><br>
        <input type="text" name="description" placeholder="description"><br>
        <input type="submit" value="Add a game">    
    </form>
</div>